.users {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto
}

.user .username {
  font-size: 24px;
  font-weight: bold;
}

.user img {
  width: 150px;
  border-radius: 50%;
}

.user {
  margin: 2rem;
  text-align: center;
}

.user .followers {
  color: gray;
  font-weight: bold;
  font-size: 14px;
}